/* product styles */
.product {
  display: block;
  outline: #d3d3d3 solid 1px;
  text-align: center;
  height: 200px;
  cursor: pointer;
}

.product > img {
  width: 150px;
  height: 150px;
  position: relative;
  left: 10px;
  top: 10px;
}

.product > span {
  position: relative;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100px;
  display: block;
}

/* TODO: Would have liked to add the 'composes' feature to reduce code-duplication time-permitting. */
.productActive {
  display: inline-block;
  opacity: 1;
  pointer-events: auto;
  float: left;
  width: 170px;
  margin: 50px 50px 0 14px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  height: 200px;
}

.productInactive {
  display: inline-block;
  pointer-events: none;
  opacity: 0.4;
  float: left;
  width: 170px;
  margin: 50px 50px 0 14px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  height: 200px;
}

/* heading styles */
.headerContainer {
  display: inline-block;
}

.emptyCart {
  margin-left: 10px;
  padding: 5px 0 5px 0;
}

.cartIcon {
  float: left;
  padding: 18px;
}

.cartIcon > svg {
  transform: scale(2.5, 2.5);
}

.headingContainer {
  float: right;
  margin-left: 10px;
}

.heading {
  font-size: 38px;
}

/* cart styles */
.clearCartContainer {
  display: block;
  padding-left: 12px;
}

.clearCart {
  border-radius: 5px;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  background: #FFFFFF;
  padding: 3px 10px 3px 10px;
  border: solid #D3D3D3 1px;
  text-decoration: none;
  border-bottom: solid #D3D3D3 2px;
}

.clearCart:hover {
  background: #c3c6c7;
  background-image: linear-gradient(to bottom, #c3c6c7, #889196);
  text-decoration: none;
}

.clearCart:focus {
  outline: 0;
}

.mainCart {
  width: 100%;
}

.productTableContainer {
  overflow-x:auto;
  width: 100%;
}

.totalLabel {
  font-weight: bold;
  font-size: x-large;
}

.quantityAddButton {
  padding-left: 5px;
}

/* TODO: Would have liked to add the 'composes' feature to reduce code-duplication time-permitting. */
.quantityAddButton:hover > svg {
  transition: all 0.3s ease;
  transform: scale(1.2, 1.2);
}

.quantityAddButton:active > svg {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}

.quantitySubtractButton {
  padding-left: 10px;
}

.quantitySubtractButton:hover > svg {
  transition: all 0.3s ease;
  transform: scale(1.2, 1.2);
}

.quantitySubtractButton:active > svg {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}

.removeProduct {
  padding-left: 10px;  
}

.removeProduct:hover > svg {
  transition: all 0.3s ease;
  transform: scale(1.2, 1.2);
}

.removeProduct:active > svg {
  transition: all 0.3s ease;
  transform: scale(1, 1);
}
.itemAppear td {
  animation: flipIn 0.5s
}

@keyframes flipIn {
  from {
    opacity: 0; 
    transform: rotateX(-90deg); 
    transition: all 0.3s ease-in;
  }
  to {
    opacity: 1;
    transform: none;
    transition: all 0.3s ease-in;
  }
}

